@using System.Linq
@using Warner.Domain
@using Warner.Reportage.ViewModels
@model WarningOfTypeForBuildDetailsViewModel
@{
    ViewData["Title"] = "DetailsForType";
}

<h2>Details for <a href="@(new WarningLinkProvider(Model.WarningType).GetLink())">@Model.WarningType</a> in build</h2>

@foreach (IGrouping<string, BuildWarning> group in 
    Model.Warnings.GroupBy(w => w.DeveloperName))
{
    <div style="border-color: dimgray">
        <h3>@group.Key</h3>
        <ul>
            @foreach (BuildWarning info in group)
            {
                <li>
                    <span><a href="@new SourceCodeLinkProvider(info.SourceFileName).Provide()">@info.SourceFileName</a>,</span>
                    <span>line @info.CodeLineNumber</span>
                </li>
            }
        </ul>
    </div>
}

