@using Warner.Reportage.ViewModels
@model IEnumerable<BuildViewModel>

@{
    ViewBag.Title = "Builds available";
}

<h1>
    Latest @Model.Count() tracked builds
</h1>
<ul>
    @foreach (BuildViewModel buildViewModel in Model)
    {
        <li class="no-bullet">
            <h3>
                @Html.ActionLink(@buildViewModel.BuildNumberDisplay,
                    "Details",
                    "Builds",
                    new { buildId = @buildViewModel.Model.Id },
                    new { @class = "build-link" })

            </h3>
            <span>
                @buildViewModel.TimeAmountSinceBuilt ago
            </span>
        </li>
    }
</ul>

